{% load staticfiles %}
<html>
	<head>
		<title>PMP Forum</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="page-header">
			<div class="plus">
				<a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<p align=right style="color:#FFFFFF;padding: 45 0px">Add New Post</p>
			</div>
			<h1><a href="/">PMP Forum</a></h1>
			<h2><p>Express Ideas</p></h2>
        </div>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		        </div>
		    </div>
		</div>
		<div class="news">
			<p>News</p>
			<p>06-3-2015 Up and Running!</p>
			<p>Working On Audio/Video Capabilities</p>
			<p>Type In Direct URL For Image Capabilities</p>
		</div>
	</body>
</html>