{% load staticfiles %}
<html>
	<head>
		<title>PMP Forum</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="page-header">
			<a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<p align=right style="color:#FFFFFF;padding: 45 0px">Add New Post</p>
			<h1><a href="/">PMP Forum</a></h1>
			<h2><p>Express Ideas</p></h2>
        </div>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		        </div>
		    </div>
		</div>
		<div class="rules">
			<p align=right STYLE="position:absolute; TOP:325px; LEFT:1100px; WIDTH:50px; HEIGHT:50px" >Rules</p>
			<p align=right STYLE="color:#000000;position:absolute; TOP:375px; LEFT:900px; WIDTH:350px; HEIGHT:150px" >1. Do Not Post Personal Information</p>
		</div>
	</body>
</html>